{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'section-a-news.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="form-footer" class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact m-page-w page-width page-width--narrow section-{{ section.id }}-padding">
    <div class="form-col">
  <div class="form-left-col">
    <h2 class="form-title">{{ section.settings.f_title }}</h2>
      <p class="form-des">{{ section.settings.f_des }}</p>
  </div>
  <div class="form-right-col">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {% form 'customer', class: 'newsletter-form' %}
     {% comment %} {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%} {% endcomment %}

        {%- if form.errors -%}
            <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
       {%- endif -%}
       
       {%- if form.posted_successfully? -%}
           <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
       {%- endif -%}



    
      <div class="contact__fields f-con-fie">
        <div class="field">
          <input class="bgw field__input" autocomplete="name" placeholder="First Name" type="text" id="ContactForm-name" name="contact[first_name]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="field">
        <input type="text" class="bgw field__input" autocomplete="last" name="contact[last_name]"  value="{% if form.last %}{{ form.last }}{% elsif customer %}{{ customer.last }}{% endif %}" placeholder="Last Name">
      </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="bgw field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            placeholder="Email Address"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="join-field field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="bgw text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      </div>
      <div class="join-cont contact__button">
        <button type="submit" class="join-btn button">
          JOIN THE LIST
        </button>
      </div>
    {%- endform -%}
  </div>
</div>
  </div>
</div>

{% schema %}
{
  "name": "Join Form and Text",
  "tag": "section",
  "class": "section footer-form",
  "settings": [
    {
      "type": "text",
      "id": "f_title",
      "default": "left side Heading",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "f_des",
      "default": "Details",
      "label": "Enter Details"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Join Form and Text"
    }
  ]
}
{% endschema %}
<style>
  .form-col {
    display: flex;
    column-gap: 3rem;
    border: 3px solid #F280B2;
    border-radius: 18px;
}
  .form-left-col {
    width: 50%;
    padding: 35px;
}
  .form-right-col {
    width: 50%;
    padding: 35px;
}
  .join-field {
    display: none;
  }
  .join-cont {
        margin-top: 2rem;
  }
  h2.form-title {
    font-size: 32px;
}
  p.form-des {
    font-size: 20px;
    font-family: roc-grotesk;
}
 @media only screen and (max-width: 768px) {
   .form-col {
    flex-wrap: wrap;
}
   .form-left-col {
    width: 100%;
    padding: 25px;
}
   .form-right-col {
    width: 100%;
    padding: 25px;
}
   h2.form-title {
    font-size: 26px;
}
   p.form-des {
    font-size: 20px;
    font-family: roc-grotesk;
    text-align: center;
}
 }
</style>